.todoItem {
  justify-content: space-between;
  max-width: 900px;
}

.todoItem .todoItemUl {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.todoItem del {
  text-decoration-thickness: 2px;
  color: #ffb6c1;

  height: 50px;
}
.todoItem ul li {
  color: white;
}
.todoTask {
  width: 30%;
}
.todoItem del span {
  color: white;
}
.todoItem .dust img {
  height: 40px;
  width: 40px;
}
.todoItem li {
  font-size: 2rem;
  text-align: left;
}
li button {
  cursor: pointer;
}

.clicked {
  background-color: white;
  color: white;
}
.notClicked {
  color: black;
}
.updateBtn {
  padding: 0;
  background-color: red;
  height: 40px;
  width: 80px;
  cursor: pointer;
}
.inputFocus {
  margin-left: -1000px;
}
.inputFocus:focus {
  margin: 0;
}
.inputFocus {
  transition: transform 6000s ease-out;
}

.inputFocus.leftTransition {
  transform: translateX(-30%);
}
.leftTransition {
  transform: translateX(-30%);
}
.inputFocus.leftTransition:onk {
  transform: translateX(-100%);
}

.task {
  position: relative;
  animation: mymove 1s;
  left: 50px;
}

@keyframes mymove {
  from {
    left: -60px;
  }
  to {
    left: 50px;
  }
}
